.footer__button-download {
  width: 470px;
  margin-bottom: 60px;
}

@media screen and (max-width: $tabletWide) {
  .footer__button-download {
    width: 240px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $mobile) {
  .footer__button-download {
    width: 260px;
    margin-bottom: 0;
  }
}
