$secondaryBgColor: #222;
$primaryBgColor: #f8f8f8;
$borderColor: #e4e4e4;

$bgRadius: 20px;
$bgRadiusSmall: 10px;
$elRadius: 8px;

$fontFamily: 'Inter', Arial, Helvetica, sans-serif;
$secondaryColor: #fff;
$primaryColor: #111;

$tabletWide: 1239px;
$tablet: 859px;
$mobile: 719px;
$mobileNarrow: 375px;
