.content {
  padding-top: 60px;
  padding-bottom: 120px;
}

@media screen and (max-width: $tabletWide) {
  .content {
    padding-top: 69px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: $mobile) {
  .content {
    padding-top: 70px;
  }
}
